alembic==1.20.0
androguard==4.1.3
apkInspector==1.3.7
asn1crypto==1.5.1
asttokens==3.0.2
cffi==2.1.1
click==8.5.0
colorama==0.4.6
contourpy==1.4.0
cryptography==50.0.1
cycler==0.12.1
dataset==2.0.0
executing==2.2.1
fonttools==4.65.0
frida==17.18.0
greenlet==3.5.5
ipython==9.17.1
ipython_pygments_lexers==1.1.1
jedi==0.20.0
kiwisolver==1.5.1
loguru==0.7.3
lxml==6.1.3
Mako==1.4.1
MarkupSafe==3.0.3
matplotlib==3.11.2
matplotlib-inline==0.2.2
mutf8==1.1.0
networkx==3.6.1
numpy==2.5.3
packaging==26.3
parso==0.8.7
pillow==12.3.0
prompt_toolkit==3.0.53
psutil==7.2.2
pure_eval==0.2.4
pycparser==3.0
pydot==4.0.1
Pygments==2.21.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
six==1.17.0
SQLAlchemy==2.0.52
stack-data==0.6.3
traitlets==5.16.1
typing_extensions==4.16.0
wcwidth==0.8.3
win32_setctime==1.2.0
